Ak.ASPNet.Base/.vs
Ak.ASPNet.Base/.vs/
Ak.ASPNet.Base/.vs/*
Ak.ASPNet.Base/Ak.ASPNet.Base/obj
Ak.ASPNet.Base/Ak.ASPNet.Base/obj/
Ak.ASPNet.Base/Ak.ASPNet.Base/obj/*
Ak.ASPNet.Base/Ak.ASPNet.Base/obj/Debug
Ak.ASPNet.Base/Ak.ASPNet.Base/obj/Debug/
Ak.ASPNet.Base/Ak.ASPNet.Base/obj/Debug/*
Ak.Core.Base/.vs
Ak.Core.Base/.vs/
Ak.Core.Base/.vs/*
Ak.Core.Base/Ak.Core.Base/obj
Ak.Core.Base/Ak.Core.Base/obj/
Ak.Core.Base/Ak.Core.Base/obj/*
Ak.Core.Base/Ak.Core.Base/obj/Debug
Ak.Core.Base/Ak.Core.Base/obj/Debug/
Ak.Core.Base/Ak.Core.Base/obj/Debug/*
Ak.ASPNet.Base/Ak.ASPNet.Base/bin/Ak.ASPNet.Base.pdb
Ak.ASPNet.Base/Ak.ASPNet.Base/bin/Ak.ASPNet.Base.dll
Ak.ASPNet.Base/Ak.ASPNet.Base/bin/Ak.ASPNet.Base.pdb
Ak.ASPNet.Base/Ak.ASPNet.Base/Chat/Chats.aspx
Ak.ASPNet.Base/Ak.ASPNet.Base/obj/Debug/Ak.ASPNet.Base.dll
Ak.ASPNet.Base/Ak.ASPNet.Base/obj/Debug/Ak.ASPNet.Base.pdb
