/*=================================================================*/
/*	CSS for Alert Dialogs Plugin, by https://www.aktien.mx/        */
/*=================================================================*/

#popup_overlay {
    background: rgba(255, 255, 255, 0.9) !important;
    /*z-index: 99999!important;*/
    opacity: 1 !important;
}

#popup_container {
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 400px; /* Dialog will wrap after this width */
    /*background: #000;*/
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 150px !important;
    padding: 0 20px 50px !important;
}

.popupConfirm {
    background: #008bec !important;
    padding: 1rem 0rem !important;
}

.popupConfirmBtnContainer {
    text-align: center !important;
    width: 100% !important;
    position: relative !important;
    right: 0 !important;
}

    .popupConfirmBtnContainer input[type="button"] {
        text-indent: 0 !important;
        margin: 10px 0;
    }

.popupConfirmOk {
    background: #fff !important;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #241F35 !important;
    font-weight: bold !important;
    transition: all 0.4s ease-in-out;
}

    .popupConfirmCancel:hover,
    .popupConfirmOk:hover {
        background: #0085ad !important;
    }

.popupConfirmCancel {
    background: #fff !important;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #241F35 !important;
    font-weight: bold !important;
    transition: all 0.4s ease-in-out;
}

.popupConfirm #popup_title {
    color: #1b2e5b !important;
}

.popupAlert {
    background: #83b3b8 !important;
}

.popupWarning {
    background: #1b2e5b !important;
}

.popupError {
    background: #e4002b !important;
}

    #popup_title,
    .popupAlert h1,
    .popupAlert #popup_message,
    .popupWarning h1,
    .popupWarning #popup_message,
    .popupError h1,
    .popupError #popup_message {
        color: #fff !important;
    }

#ContentPlaceHolder1_pnlTelefonos,
.delegaciones,
#ContentPlaceHolder1_pnlAsignaturas {
    width: 100%;
    float: left;
    position: relative;
}

#popup_title {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    line-height: 1.75em;
    padding: .3em 1em;
    color: #00A9C1;
    cursor: default;
    margin: 0em;
    width: 100%;
    float: left;
    text-transform: uppercase;
    text-align: left;
    padding-top: 30px !important;
    text-align: center;
}

.popupConfirm {
    left: 50%;
    float: left;
    position: relative;
    background: #fff !important;
    border: 10px solid #00205b;
    border-radius: 5px;
    padding: 20px;
}

#popup_panel {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.75em;
    padding: 10px 0;
    color: white;
    cursor: default;
    margin: 0em;
    width: 35px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

    #popup_panel input[type="button"] {
        background-image: url(../images/closePopUp.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 17px;
        font-weight: normal;
        outline: none;
        width: 100%;
    }

        #popup_panel input[type="button"]:hover {
            color: #FFFFFF !important;
        }

#popup_message {
    float: left;
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    color: #333;
    word-break: break-word;
}

#popup_prompt {
    margin: .5em 0em;
}

.popupConfirmOk, .popupConfirmCancel {
    background: #00205b !important;
    color: #fff !important;
}
/******************************/
/***        LOADING        ***/
/******************************/

#Cont_Loading {
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    background-color: #000000;
    opacity: 0.7;
}

#img_loading {
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50px,-100px);
    -moz-transform: translate(-50px,-100px);
    -ms-transform: translate(-50px,-100px);
    -o-transform: translate(-50px,-100px);
    transform: translate(-50px,-100px);
}

#img_loading_logo {
    width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40px,-190px);
    -moz-transform: translate(-40px,-190px);
    -ms-transform: translate(-40px,-190px);
    -o-transform: translate(-40px,-190px);
    transform: translate(-40px,-190px);
}

#Cont_Loading_I, .Cont_Loading_I {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    background-color: #ffffff;
    opacity: 0.8;
}

#img_loading_I, .img_loading_I {
    width: 85px;
    position: absolute;
    top: 65%;
    -webkit-transform: translate(-40px,-100px);
    -moz-transform: translate(-40px,-100px);
    -ms-transform: translate(-40px,-100px);
    -o-transform: translate(-40px,-100px);
    transform: translate(-40px,-100px);
}

#Cont_Loading_F {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0,.7);
}

#div_loading_F {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0px,-100px);
    -moz-transform: translate(0px,-100px);
    -ms-transform: translate(0px,-100px);
    -o-transform: translate(0px,-100px);
    transform: translate(0px,-100px);
}
